		<div ng-controller="imageCtrl as ctrl">    
<div class="panel panel-success">
        <form ng-submit="ctrl.createNew(ctrl.newPost)">
            Cation:<input type="text" ng-model="ctrl.newPost.caption" required>
            Content<input type="text" ng-model="ctrl.newPost.content" required>
            Image:<input type="text" ng-model="ctrl.newPost.image" required>
            Hashtags:<input type="text" ng-model="ctrl.newPost.hashtags" required>
            <input type="submit" ng-hide="true">
    </form>
        </div> 
            
            
            
    
    <div class="post" ng-repeat="post in ctrl.posts">
        <div class="panel panel-default" ng-if="post.owner==ctrl.userInfo.userID">
            <div class=" row panel-heading">
                <div class="col-md-10">
                <h3 class="panel-title">
                    <a class="posterprofile" href="#">
                        <img alt="Profile pic" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/319784_3795714453525_1087158771_n.jpg?oh=a241aa69a5d5e44457fae5135c04c085&oe=57B5FFE6" class="profilepic">2edgy4me
            </a>
                </h3>
                    </div>
                                <div class="col-md-2">
    <button class="btn btn-lg glyphicon glyphicon-trash" ng-click="trashClicked(post)"></button>

            </div>
            </div>
                <div class="panel-body">
                <img src="{{post.image}}" class="picposted"/>
                    <div class="panel-footer"><p class="likes">4 likes</p>
                        <p class="caption">{{post.caption}}<a class="posterprofile">{{ctrl.userInfo.userID}}</a> {{post.content}} <a class="tag">#getrektm8</a></p>
                        
                        <p class="comments">comments...</p>
                        <p class="usercomments" ng-repeat="comment in post.comments"><a class="posterprofile">{{comment.commentor}}</a>{{ comment.comment}}<a class="tag">{{comment.hastags}}</a></p>
                        <hr class="break"/>
                        <i class="glyphicon glyphicon-heart" src="assets/likeiconuncheck.png"></i><p class="comment">Add a comment..<input type="text" name="comment" class="comment"></p>
                    </div>
                </div>
        </div>
    </div>

</div>